body {
  background-color: #fce4ec;
}

.wrap {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 800px;
  padding-top: 10px;
}

.link {
  text-decoration: none;
  color: black;
}

.sidebar {
  width: 150px;
  background-color: white;
  border: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}