.wrap {
  width: 600px;
  background-color: white;
  padding: 10px;
  border: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}

.name {
  text-align: center;
}
    
.repo {
	display: flex;
	justify-content: space-between;
	width: 500px;
	margin-top: 50px;
}

.repo_avatar {
	height: 260px;
  width: 260px;
}

.repo_text {
	font-size: 25px;
	font-weight: bold;
}

.repo_name {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.repo_list {
  padding: 0 0 0 30px;
}

.repo_name:hover {
  color: #442a82;
  text-decoration: underline;
}

.loader {
	text-align: center;
}