.wrap {
  display: inline-block;
  background-color: white;
  padding: 10px;
  border: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .5);
}
.link_github {
  text-align: center;
  font-size: 20px;
}
.img_github {
  width: 20px;
}
.info {
  display: flex;
}
.name {
  text-align: center;
}
.bio {
  text-align: center;
  font-weight: lighter;
}
.repo {
	margin-top: 25px;
}
.avatar_wrap {
  margin: 25px;
}
.repo_avatar {
	height: 200px;
  width: 200px;
}
.repo_text {
	font-size: 25px;
	font-weight: bold;
  text-align: center;
}
.repo_name {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}
.repo_list {
  border-radius: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-top: 3px;
  box-shadow:1px 1px 4px 1px rgba(0, 0, 0, .5);
}
.selected {
  font-weight: bold;
}
.repo_name:hover {
  color: #442a82;
  text-decoration: underline;
}
.loader {
	text-align: center;
}
.repo_language_color {
  background-color: #563d7c;
  position: relative;
  top: 1px;
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid var(--color-repo-language-color-border);
  border-radius: 50%;
  margin: 3px;
}
.wrap_repo {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 20px 0;
}
.repo_language_and_update {
  display: flex;
  font-size: 20px;
}
.repo_language {
  margin-right: 20px;
}
.repo_description {
  text-align: center;
  font-size: 20px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.img_whs {
  margin-top: 70px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 280px) {
  .wrap {
    width: 530px;
    margin-top: 20px;
  }
  .repo_name {
    font-size: 7px;
  }
  .avatar_wrap {
    margin: 10px;
  }
  .img_whs {
    justify-content: flex-start;
  }
  .link_github {
    font-size: 18px;
  }
  .repo_name {
    font-size: 18px;
  }
}
@media (min-width: 320px) and (max-width: 540px) {
  .wrap {
    width: 650px;
    margin-top: 20px;
  }
  .repo_name {
    font-size: 7px;
  }
  .avatar_wrap {
    margin: 10px;
  }
  .img_whs {
    justify-content: flex-start;
  }
  .link_github {
    font-size: 20px;
  }
  .repo_name {
    font-size: 18px;
  }
}
@media (min-width: 541px) and (max-width: 768px) {
  .wrap {
    width: 650px;
    margin-top: 20px;
  }
  .repo_name {
    font-size: 7px;
  }
  .avatar_wrap {
    margin: 10px;
  }
  .img_whs {
    justify-content: flex-start;
  }
  .link_github {
    font-size: 20px;
  }
  .repo_name {
    font-size: 18px;
  }
}